@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/protest-guerrilla";
@import "@fontsource-variable/oswald";

body {
  background-color: #0e1217;
  color: white;
  font-family: "Oswald Variable", sans-serif;
}
