@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/protest-guerrilla";

body {
  background-image: url("/assets/noise-texture.svg");
  background-color: black;
  color: white;
}
