@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/protest-guerrilla";
@import "@fontsource-variable/oswald";

body {
  background-color: black;
  color: white;
  font-family: "Oswald Variable", sans-serif;
}
.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-yellow-300/30 shadow-sm bg-gray-700/20 backdrop-blur-md;
  content: "";
}
